@import '../../config.styl'
a:hover, a:focus
    text-decoration none
.apply
    &
        background #fff
        margin-top 30px
        margin-bottom 30px
        min-height 600px
    .div-padding
        margin-bottom 30px
        .col-xs-3
            text-align center
            padding-right 0
        .col-xs-9
            padding-left 0
            textarea
                width 348px
                height 137px
            select
                width 348px
    .section-header
        margin 45px auto 30px
        width 909px
    .section-content
        margin 0 auto
        width 909px
        .reason
            .price
                color $color_red
            .action
                a
                    display inline-block
                    padding 10px 25px
                    border-radius 7px
                    margin-right  50px
                .ok
                    background #268fff
                    border 1px solid transparent
                    color #fff
                .cancel
                    border 1px solid #268fff
                    color #268fff
    .apply_right
        margin-left 110px
        width 333px
