@import '../../config.styl'
a:hover, a:focus
    text-decoration none
.process
    &
        background #fff
        margin-top 30px
        margin-bottom 30px
        min-height 600px
    .section-header
        margin 45px auto 30px
        width 909px
    .section-content
        margin 0 auto
        width 909px
        .refunc-type
            padding-left 20px
            padding-bottom 20px
            font-size 20px
            font-weight bold
        .prompting
            color $color_gray
            padding-left 20px
            padding-bottom 40px
            span
                color #FA8032
        .cancel
            color $color_gray
            padding-left 20px
            a
                color $color_primary
        .line
            margin 30px 10px
            height 1px 
            background #dedede
    .application
        padding-left 19px
    .course-detail
        width 321px
        float right
    
