html,body
    background #fff
    
.sitemap_content
    width 1180px
    margin 30px auto
    background #fff
    padding 20px
    h1
        text-align center
        font-size 28px
        height 50px
        line-height 50px
    .sitemap_title
        font-size 20px
        height 36px
        line-height 36px
        font-weight 500
    .sitemap_info
        padding 20px
        font-size 16px
    a
        &:hover
            color #268fff
