@import '../../config.styl'

.pay-result
    &
        font-size $font_normal
        background #fff
        margin-top 28px
        margin-bottom 28px
        padding-top 46px
    a
        color $color_dimgray
    a:hover,a:focus
        text-decoration none
        color $color_primary
    .div-padding
        margin-bottom 26px
    .section-order
        &
            padding-bottom  70px
            width 445px
            margin 0 auto
        .success
            text-align center
            margin-bottom 40px
            div
                display inline-block
                span.ico
                    font-size 100px
                    color #00C801
                .text
                    margin-top 60px
                    margin-left 20px
                    font-size 24px
        .form-group
            span.gray
                color $color_gray
        .back
            a
                color #fff
                background $color_primary
                border-radius 4px
                padding 20px 80px
                display inline-block
                font-size $font_large
                margin-top 20px





