@import "../../config.styl"
.sidebar
    &
        padding-left 0px
    li.li-padding
        margin-bottom 27px
    .center
        ul
            &
                padding-left 16px
                font-size $font_small
            li
                list-style-type disc
                margin-top 12px






