@import '../../config.styl'
.w-user-center
    background #f5f5f5
    /*min-height $min_height_center*/
    .center-titleo
        position relative
        bottom -2px
        font-size 14px
        font-weight 600
        color #333
    .center-active
        color #238FFF !important
        .ion-book-outline
            width 20px
            height 20px
            background url('/build/img/center/bookHover.png') no-repeat !important
            background-size 100% !important
        .ion-paper-outline
            width 20px
            height 20px
            background url('/build/img/center/paperHover.png') no-repeat !important
            background-size 100% !important
        .ion-pricetags-outline
            width 20px
            height 20px
            background url('/build/img/center/pricetagsHover.png') no-repeat !important
            background-size 100% !important
        .ion-star-outline
            width 20px
            height 20px
            top 13px
            background url('/build/img/center/starHover.png') no-repeat !important
            background-size 100% !important
        .ion-bell-outline
            width 20px
            height 20px
            background url('/build/img/center/bellHover.png') no-repeat !important
            background-size 100% !important
        .ion-gear-outline
            width 20px
            height 20px
            background url('/build/img/center/gearHover.png') no-repeat !important
            background-size 100% !important

    .border-active
        border-bottom 3px solid #238FFF
    .hide
        display none
    .no-style-btn
        color #999
        padding 6px 15px
    .center-sidebar
        width 1170px
        padding-top 20px
        margin 0px auto
        .user-info
            padding 30px 30px
            .user-avator
                position relative
                padding 0
                overflow hidden
                border-radius 50%
                font-size: 0;
                img
                    width 100px
                    height 100px
                    border 2px solid #f5f5f5
                    /*border-radius 50%*/
                    border 0
                span
                    position absolute
                    bottom 5px
                    left: 0;
                    /*left 24%*/
                    font-size $font_small
                    color #fff
                    width 100%
                    background rgba(0,0,0,.3)
                    text-align center
                    padding-top 4px
                    padding-bottom 4px
            .user-desc
                font-size 14px
                color #333
                margin-top 24px
                margin-left 20px
                .nickname
                    font-weight bold
                    margin-bottom 10px
            .teach-manage
                margin-top 40px
        .side-list
            width 152px
            font-size 16px
            margin-top 20px
            padding 15px 20px 
            li
                a
                    position relative
                    display inline-block
                    color #999
                    padding 15px 10px
                    margin-left 20px
                    i
                        position absolute
                        font-size 19px
                        top 15px
                        left -14px
                    .ion-book-outline
                        width 20px
                        height 20px
                        background url('/build/img/center/book.png') no-repeat
                        background-size 100%
                    .ion-paper-outline
                        width 20px
                        height 20px
                        background url('/build/img/center/paper.png') no-repeat
                        background-size 100%
                    .ion-pricetags-outline
                        width 20px
                        height 20px
                        background url('/build/img/center/pricetags.png') no-repeat
                        background-size 100% 
                    .ion-star-outline
                        width 20px
                        height 20px
                        top 13px
                        background url('/build/img/center/star.png') no-repeat
                        background-size 100%
                    .ion-bell-outline
                        width 20px
                        height 20px
                        background url('/build/img/center/bell.png') no-repeat
                        background-size 100%
                    .ion-gear-outline
                        width 20px
                        height 20px
                        background url('/build/img/center/gear.png') no-repeat
                        background-size 100%
                a:hover
                    color #238FFF
                    .ion-book-outline
                        width 20px
                        height 20px
                        background url('/build/img/center/bookHover.png') no-repeat
                        background-size 100%
                    .ion-paper-outline
                        width 20px
                        height 20px
                        background url('/build/img/center/paperHover.png') no-repeat
                        background-size 100%
                    .ion-pricetags-outline
                        width 20px
                        height 20px
                        background url('/build/img/center/pricetagsHover.png') no-repeat
                        background-size 100% 
                    .ion-star-outline
                        width 20px
                        height 20px
                        top 13px
                        background url('/build/img/center/starHover.png') no-repeat
                        background-size 100%
                    .ion-bell-outline
                        width 20px
                        height 20px
                        background url('/build/img/center/bellHover.png') no-repeat
                        background-size 100%
                    .ion-gear-outline
                        width 20px
                        height 20px
                        background url('/build/img/center/gearHover.png') no-repeat
                        background-size 100%
    .center-right-content
        width 996px 
        margin-top 20px  
        margin-left 20px
        margin-bottom 60px
        min-height 360px
