@import "./center.styl"
@import "../../components/pagination/pagination.styl"
@import "../../components/course/course-lists.styl"
@import "./cancel-modal.styl"
.user-collection
    padding 1px 30px
    .collect-title
        border-bottom 1px solid #dedede
        padding-bottom 8px
        padding-top 7px
        h3
            font-size 14px
            color #333
    .collect-main
        width 100%
        margin-top 20px
    .wt-thumbnail 
        img
            height 126px !important
    .course-list
        .each-courli
        &:hover 
            cursor auto
        .collection-caption
            padding 8px!important
            .title
                font-size 14px
                font-weight normal
                line-height 18px
                margin-bottom 7px
            .other
                margin-bottom 8px

