@import "../../components/course/course-lists.styl"

.myevaluate_center
    background #f5f5f5
    .base_styl
        width 1170px
        margin 0px auto 
        padding 30px 0px 60px
    .myevaluate
        .good-star
            color #ccc
        .orange-star
            color #ffb040

        .evalute-content
            padding 153px 60px
            .course-info
                padding 0px 60px 60px 0px
                margin-right 60px
                border-right 2px solid #f5f5f5
                .course-li
                    &
                        width 285px
                        word-wrap break-word
                        cursor pointer
                        box-shadow 0px 0px 1px #ddd
                    .course-img
                        img
                            width 285px
                            height 160px
                    .course-name
                            font-size $font_large
                            margin 18px 10px
                    .other
                        padding-bottom 18px
                        margin 0 10px
                        .free_price
                            color #238FFF
                        .not_free
                            color #ff4b4a
                        .from_name
                            font-size 12px
                            color #999

            .has-comment
                .course-info
                    padding-bottom 0
                .evalute-main .evalute-head
                    margin-bottom 37px
                .comment-text
                    span
                        display inline-block
                    .text-title
                        margin-right 20px
                    .text-dec
                        color $color_gray
                        word-break break-all
            .evalute-main
                .evalute-head
                    font-size 16px
                    margin-bottom 48px
                    span
                        margin-right 20px
                    .star-score
                        i
                            font-size 20px
                            cursor pointer

                    .color-blue
                        color $color_primary
                .evalute-form
                    .comment-look
                        width 640px
                    .evalute-text
                        position relative
                        font-size 14px
                        textarea
                            border-color #ccc
                            background #fcfcfc
                            color #666
                            line-height 21px
                            border-radius 4px
                            padding 17px
                        .com-lenth
                            position absolute
                            bottom 20px
                            right 20px
                            color #666
                            .red-length
                                color #ff4b4a
                    .release-btn
                        margin-top 50px
    .evaluate_success
        .success_main  
            .success_msg
                padding 80px 420px
                p
                    position relative
                    font-size 24px
                    margin-bottom 55px
                    color #333
                    i
                        position absolute
                        display inline-block
                        font-size 45px
                        top -15px
                        left -12px
                    .ion-ios-checkmark
                        color #00c801
                    .ion-ios-close
                        color #ff1818
                    span
                        margin-left 48px
                .suc-msg
                    margin-left 72px
                .return
                    margin-left 72px
                    a
                        cursor pointer
                        padding 13px 20px
            .recomm-cours
                padding 0px 20px 30px 
                h3
                    padding-left 7px
