@import "../../config.styl"

$font_large = 16px
$font_normal = 14px
$font_small = 12px
$border-color = #dedede

.clearfix:before, .clearfix:after
    display table
    content " "
.clearfix:after
    clear both
.hide
    display none !important
.show
    display block
.text-center
    text-align center
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.list-inline > li {
    display: inline-block;

}

.wt-media
    word-break break-word /*自动换行*/

.detail
    &
        margin-top 50px
        margin-bottom 50px
        /*position relative*/
    .section-img
        &
            position relative
            width 375px
            height 211px
            background-repeat no-repeat
            background-size 375px 211px
        .player
            position absolute
            width 100%
            height 100%
            z-index: 10
            display none
            video
                width 100%
                height 100%
                background #000

        .audition
            position absolute
            top 0px
            left 0
            width 100%
            height 100%
            text-align center
            background rgba(65 65 65 .4)
            a
                color #fff
                display inline-block
                padding-top 74px
            img
                width 64px
    .action
        &
            position fixed
            bottom 0
            left 0
            z-index 10
            background $color-primary
            width 100%
            text-align center
        a
            font-size $font_large
            display block
            /*padding 14px 0*/
            height 49px
            line-height 49px
            color #fff
        .apply
            background $color-primary
        div
            /*display inline-block*/
            padding 14px 0
            font-size $font_large
            color $color-desc-primary
            background $color-gray
    .section-presentation
        &
            background #fff
            padding 15px 0

        #tab
            &
                display flex
                justify-content: space-around
                border-bottom 1px solid #ececec
            li
                font-size $font_large
                font-weight normal
                width 71px
                padding 11px 0
                text-align center
                position relative
                top 1px

            .active
                border-bottom 2px solid $color-primary
                color #268fff
        #container
            margin-top 15px

            #content1
                display block
                background $color-gray
                .course-title
                    font-size 18px !important 
                    line-height 19px
                    font-weight bold
                    color #333
                    background: #ffffff;
                    padding: 0px 12px;
                .intro, .teacher, .institute, .relevant,.course-description
                    background #fff
                    padding 0 12px
                    .title
                        font-size $font_large
                        font-weight bold
                        padding 15px 0
                        color: #333333   
                
                .course-description
                    font-size 14px
                    padding-top 10px 
                    padding-bottom 10px
                    color:#797979;
                    line-height 17px
                .course-price
                    /*background:#f5f5f5;*/
                    padding 14px 12px
                    .cur-free
                        color $color-primary
                    .cur-price
                        color #ff1818
                        font-size 20px
                        display inline-block
                        padding-right 10px
                    .original-price
                        font-size 14px
                        color #797979
                        text-decoration line-through
                    .tag, .promise
                        font-size 12px
                        margin-top 7px
                        margin-bottom 0
                    .tag
                        .discounts
                            color #666666
                            /*padding-left 18px*/
                            /*background url(/static/img/course/discounts.png) no-repeat*/

                        .tag-text
                            background $color-red
                            color #fff
                            -webkit-transform-origin-x: 0;
                            transform: scale(0.90);
                            display: inline-block;
                            padding: 0 1px;
                    .promise
                        .refund
                            display inline-block
                            /*padding-left 18px*/
                            /*background url(/static/img/course/refund.png) no-repeat*/
                        .refund-t
                            background $color-primary
                            color #fff
                            -webkit-transform-origin-x: 0;
                            transform: scale(0.90);
                            display: inline-block;
                            padding: 0 1px;
                .intro
                    word-break break-word
                    max-width 100%
                    .intro-title
                        font-size 16px
                        line-height 1em
                        padding-top 15px
                        padding-bottom 21px
                        color #333
                        font-weight: bold
                    table td,div p,p b{
                        color: #797979 !important;
                        font-size: 14px;
                        font-weight:inherit;
                    }
                .intro p b font{
                        color: #797979 !important;
                }  
                .teacher, .institute, .relevant
                    margin-top 10px
                .teacher, .institute
                    .media-padding
                        padding-bottom 20px
                        .media-left
                            margin-right 10px
                            img
                                width 50px
                                height 50px
                                border-radius 50%
                        .media-body
                            .modal-title
                                font-size $font_normal
                                font-weight bold
                            .modal-description
                                font-size $font_small
                                color $color-gray
                            .text-justify
                                font-size 12px
                                color #999
                                line-height 16px    

                .institute
                    .modal-title
                        margin-bottom 13px
                    .media-body
                        width 287px
                    .data
                        &
                            margin-bottom 9px
                            display flex
                            justify-content space-around
                            width 287px
                        .institute-data
                            &
                                text-align center
                                border-right 1px solid #ddd
                                width 33%
                            :first-child
                                font-size $font_small
                                margin-bottom 6px
                                color $color-desc-primary
                        :last-child
                            border-right none
                            
                        .data-good
                            width 75px
                            text-align left
                        .data-count
                            width 137px
                            text-align center
                        .data-student
                            width 75px
                            text-align right
                        .data-good>div, .data-count>div,.data-student>div
                            display inline-block
                        .percent
                            color #333
                            font-weight: 400   
                    .short-des
                        font-size $font_small
                .relevant
                    .media-padding
                        padding-bottom 10px
                    img
                        width 120px
                        height 80px
                    .media-body
                        margin-left 15px
                        width 211px
                        height 80px
                        display flex
                        flex-direction column
                        justify-content space-between                      
                        .modal-title 
                            line-height: 19px
                            width: 196px
                            font-size: 14px
                            color: #3c3c3c
                        p
                            color $color-red
                            font-size $font_small
                            line-height: 16px
                            margin-bottom  10px
            #content2
                &
                    display none
                .chapter
                    &
                        border-bottom 1px solid #ececec
                        margin-bottom 20px
                        padding 0 12px
                    .ico
                        color $color-primary
                    .title
                        font-size $font_normal
                        padding-bottom  15px
                        line-height 18px    
                        span
                            color: #333
                        .titlebg 
                            display inline-block
                            width 16px
                            height 16px
                            margin-right 10px
                            background url(/static/img/course/chapter.png) no-repeat
                            background-size 16px 16px
                            
                    .catalog
                        display none
                        overflow hidden
                    .ion-ios-arrow-up
                        color #797979
                        
                .expand
                    .catalog
                        display block
                    .ion-ios-arrow-up
                        transform rotate(180deg)
                        
                    .active
                        height auto
                    .section
                        &.active
                            // background $color-primary
                            // color #fff
                            .second-title
                                color #268FFF !important

                        .section-text
                            color #fff

                            
                        &
                            padding 14px 10px 9px 10px
                            background $color-gray
                            font-size $font_small
                            margin-bottom 10px
                            height 71px
                            /*overflow hidden*/
                        .section-title
                            .ico
                                color $color-primary
                                margin-right 4px
                                width: 17px
                                height: 10px
                                display: inline-block
                                background: url(/static/img/icon/playimg.png) no-repeat
                                background-size: 100%
                                background-position: center 
                            .second-title
                                color:#3c3c3c
                                // &.active
                                //     color $color-primary !important
                                             
                        .section-text
                            padding 10px 0 0 22px
                            color $color-desc-primary
                            .time
                                padding-left 15px
                    // .section:hover
                    //     a
                    //         color #fff
                    //         .time
                    //             color #fff
                    //         .ico
                    //             color #fff


            #content3
                &
                    display none
                .praise
                    text-align center
                    width 210px
                    margin 0 auto
                    background url(/static/img/course/comment-bg.png) no-repeat 0px 20px
                    background-size 210px
                    .value
                        font-size 22px
                        color $color-red
                    .character 
                        font-size: 14px
                        color: #3c3c3c 
                .tab-container
                    background $color-gray
                    padding-top 10px
                .tab
                    &
                        display flex
                        align-items center
                        justify-content space-between
                        padding-bottom 10px
                        background #fff
                        padding-top 10px
                        border-bottom 1px solid #ececec
                    li
                        &
                            text-align center
                        span
                            display block
                    .witchComment
                        cursor pointer
                        font-size 12px
                        flex 1
                        
                    .active
                        color $color-primary
                        font-size 13px
                .comment-content
                    .border-bottom
                        &
                            padding 13px 14px 0
                        .wt-media
                            word-break break-word /*自动换行*/
                            .media-left
                                &
                                    text-align center
                                    padding-right 20px
                                    font-size 12px
                                    color #797979
                                img
                                    width 40px
                                    border-radius 50%
                                div
                                    margin-top 10px
                                    width 50px
                                    word-wrap break-word
                            .media-body
                                &
                                    width 241px
                                    border-bottom 1px solid #ececec
                                    padding-bottom 14px

                                .modal-title
                                    .active
                                        color #FFB040
                                    .gray
                                        color #cccccc
                                    p
                                        min-height 30px
                                .time
                                    color #cccccc
                        .revert
                            padding-left 0
                            li
                                &
                                    border-top 1px solid #eee
                                    margin-top 20px
                                    padding-top 20px
                                .user
                                    color $color-primary
                                .revert-time
                                    margin-top 20px
                    .list-comment .border-bottom:last-child .media-body
                        border-bottom none
                    .pagination
                        .active
                            background  $color-primary
                            a
                                background-color $color-primary
                                border-color $color-primary
.rich-text
    img
        max-width 100%


 .nav-icon-right{
    text-align:center !important;
    line-height:50px;
 }
 
        
.share{
    display:inline-block; 
    cursor:pointer;
 }      
.share p{
    height:2px;
    width:18px;
    background:#3c3c3c;
    border-radius:1px;
}
.share p:nth-child(2){
    width:15px;
    margin:3px 0;
}
.share p:nth-child(3){
    width:13px;
}

.pull-down{
    width:89px;
    height:99px;
    border-top: none;
    background:#fff;
    position:fixed;
    top:51px;
    right:13px;
    text-align:center;
 	font-size:14px;
 	color:#797979;
 	z-index:8888 !important;
    border: 1px solid #dedede;
    border-top:none;
    border-radius: 0 0 2px 2px
   
}
.pull-down.playNone{
    display: none;
}
.pull-down.active{
    display: block;
}
.pull-down li{
    text-align: center;
    height:17px !important;
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pull-down li:first-child{
    margin:19px 0 26px 0;

}

.pull-down li img{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 5px;
}
 .pull-down .collect span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background: #fff  url(/static/img/course/collect.png) no-repeat center;
    background-size:15px 15px;
 } 
 .pull-down  .collect .active{
    background: #fff url(/static/img/course/yellowstar.png) no-repeat center;
    background-size:15px 15px;
 }
 
.pull-down .Share span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background: #fff  url(/static/img/course/share.png) no-repeat center;
    background-size:15px 15px;
 }  

.ion-android-star,.ion-android-share-alt{
    color:#797979;
    margin-right:5px;
    font-size:16px;     
}
.pull-right .icon-try-listen{
    display: inline-block;
    width:40px;
    height:16px;
    background: url(/static/img/icon/try-listen.png);
    background-size:40px 16px;
    }
  

.shareWraper{
  display:none;
  width:375px;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background: rgba(0,0,0,0.60);
  z-index:9999 !important;
}
.shareBox{
   position:absolute;
   bottom:0px;
   background:#fff;
   width:375px;
   height:180px;
   text-align: center;
   
}
.shareBox .content{
   display:flex;
   justify-content:center;
   align-items: center;
   height:133px;
   font-size:13px;
   color:#797979;
}
.shareBox .content .box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.shareBox .content .bg{
    width:55px;
    height:55px;
    margin-bottom:10px;
    background-size:55px 55px;
}

.sina{
    margin-right:60px;   
}

.sina div{
    background:url(/static/img/course/sina.png) no-repeat;
}
.qq div{
     background:url(/static/img/course/qqkone.png) no-repeat;
}
.shareBox .cancel{
    text-align:center;
    font-size:14px;
    color:#333333;
    font-weight: 500;
   
}
.api-socical{
     display:none; 
 }
 
#content3
    .no-result
        padding-top: 20px

.video-js
.video-dimensions
    width 100%
    height 100%
.vjs-wdy-skin
    &.video-dimensions
        width 100%
        height 100%
    .vjs-big-play-button
        position absolute
        height 50px
        width 50px
        margin -25px 0 0 -25px
        top 50%
        left 50%
        border-radius 50%
    &.vjs-paused
        .vjs-big-play-button
            display block
           

.noprice
    color #268FFF !important


