
*{
	margin: 0;
	padding: 0;
}
.content {
	width: 100%;
	max-width:1920px;
	margin: 0 auto;
	min-width 980px
}

.h{
	height:900px;
	width:100%;
}
.content .page_one{
	height:875px;
	background:url("/build/img/pcAppload/bg1.jpg") no-repeat;
	background-size: 1920px 875px;
	background-position: center;	
	overflow:hidden;
}

.content .page_one .title{
	width: 100%;
	text-align: center;
	font-size :70px;
	color: #fff;
	margin-top: 105px;
	margin-bottom: 50px;
	
}

.content .page_one .title span:first-child{
	margin-right:73px;	
}
	

.content .page_one .btns{
	width: 100%;
	text-align:center;
}
.content .page_one .btns span{
	width:252px;
	height: 80px;
	font-size: 20px;
	display: inline-block;
	background: transparent;
	border-radius: 40px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 80px;
	color: #fff;
	cursor: pointer;
}
.content .page_one .btns span i{
	vertical-align: middle;
	display: inline-block;
	width: 40px;
	height: 45px;
	margin-right: 20px;
	
	
}
.content .page_one .btns i:first-child{
	background:url('/build/img/pcAppload/ios1.png') no-repeat;
}
.content .page_one .btns .android i{
	background:url('/build/img/pcAppload/andrio.png') no-repeat;
	
}
.content .page_one .btns span:first-child{
	margin-right: 80px;
	
}
			
.content .page_one p{
	width: 100%;
	text-align:center;
	font-size: 40px;
	color: #fff;
	margin-top:45px;
}


.page_two {
	background: url("/build/img/pcAppload/bg2.jpg") no-repeat center;
	background-size:1920px 900px;
	overflow:hidden;
}

.page_two .title,.page_four .title,.page_six .title{
	margin-top:100px;
}	
.page_two h3,.page_four h3,.page_six h3{
	text-align: center;
	font-size:52px;
	margin-bottom: 30px;
}

.page_two p,.page_four p,.page_six p{
    text-align: center;
	font-size:26px;
	color: #999;
	line-height: 1.5;
}

.content .page_three{
	width: 100%;
    background: url("/build/img/pcAppload/bg3.jpg") no-repeat center;
	background-size:1920px 900px;
	overflow:hidden;	
	position: relative;
}
.content .page_three .left{
	width: 26%;
	position: absolute;
	left:16%;
	bottom:0;
	
}

.content .page_three .right{
	width:35.1%;
	color: #FFFFFF;
	position:absolute;
	right:16%;
	top:357px;
}
.content .page_three .right h3,.content .page_five .left h3{
	font-size:52px;
	margin-bottom: 30px;
}
.content .page_three .right p,.content .page_five .right p{
	font-size:26px;
	line-height: 1.5;
}

.content .page_four{
    background: url("/build/img/pcAppload/bg4.jpg") no-repeat center;
	background-size: 1920px 900px;
	overflow:hidden;	
}


.content .page_five{
    background: url("/build/img/pcAppload/bg5.jpg") no-repeat center;
	background-size: 1920px 900px;
	overflow:hidden;
	position: relative;	
	color: #FFFFFF;
}
.content .page_five .left{
	width: 33%;
	position: absolute;
	top:377px;
	left:16.5%;
}

.content .page_five .left h3{
    font-size: 52px;
}
.content .page_five .left p{
    font-size: 26px;
    line-height: 1.5;
}
.content .page_five .right{
	width:34%;
	position: absolute;
	bottom:0;
	right:16%;
}

.content .page_six{
    background: url("/build/img/pcAppload/bg6.jpg") no-repeat center;
	background-size: 1920px 900px;
	// overflow:hidden;	
}

.content .page_seven{
	color: #FFFFFF;
    background: url("/build/img/pcAppload/bg7.jpg") no-repeat center;
	background-size: 1920px 900px;
	overflow:hidden;
	position: relative;	
}

.content .page_seven .left{
	width: 30.2%;
	position:absolute;
	top:135px;
	left:17.4%;
}
.content .page_seven .right{
	width: 25.625%;
	position:absolute;
	top:390px;
	right:19.8%;
	color: #fff;
}
.content .page_seven .right h3{
	font-size: 52px;
	margin-bottom: 30px;
}
.content .page_seven .right p{
	font-size:26px;
	line-height:1.5;
}
@media screen and (min-width: 1201px) and (max-width: 1680px) {
	
	.content .page_seven .right h3{
		font-size: 42px;
	}
	.content .page_seven .right p{
		font-size:22px;
		line-height:1.5;
	}
	.content .page_seven .right{
	    width: 32%;
	    right:15.84%;
    }
}
@media screen and (max-width: 1200px) {
	.content .page_seven .right h3{
	    font-size: 26px;
	}
	.content .page_seven .right p{
		font-size:13px;
		line-height:1.5;	
	}
	.content .page_seven .right{
	   width: 30.75%;
	   right:15.84%;
    }
}



































// .content {
//   width: 100%;
//   max-width: 1920px;
//   margin: 0 auto;
//   line-height 1.5
// }

// .h{
// 	height: 900px;
// }
// .content .page_one{
// 	height:875px;
// 	background: url("/build/img/pcAppload/bg1.png") no-repeat;
// 	background-size: 1920px 875px;
//     background-position: center;	
//     overflow:hidden
// }

// .content .page_one .title
// 	width 100%
// 	margin 0 auto
// 	text-align center
// 	font-size 70px
// 	color #fff
// 	margin-top 105px
// 	margin-bottom 50px
// 	span:first-child
// 		margin-right 73px	

// .content .page_one .btns
// 	width 100%
// 	text-align center
// 	span
// 		width 252px
// 		height 80px
// 		font-size 20px
// 		display inline-block
// 		background transparent
// 		border-radius 40px
// 		border 1px solid #fff
// 		text-align center
// 		line-height 80px
// 		color #fff
// 		&:first-child
// 			margin-right 80px

// .content .page_one p{
// 	 width: 100%;
// 	 text-align:center;
// 	 font-size: 40px;
// 	 color #fff;
// 	 margin-top:45px
// }


// .page_two {
//     background: url("/build/img/pcAppload/bg2.jpg") no-repeat;
// 	background-size:100%;
// 	overflow:hidden;
// }
// .page_two .title{
// 	margin-top :100px;
// }	
// .page_two h3{
// 	text-align: center;
// 	font-size:52px;
// 	margin-bottom 50px
// }

// .page_two p{
//     text-align: center;
// 	font-size:26px;
// 	color: #999;
// }

// .content .page_three{
//     background: url("/build/img/pcAppload/bg3.jpg") no-repeat;
// 	background-size: 100%;
// 	overflow:hidden;	
// }



// .content .page_four{
//     background: url("/build/img/pcAppload/bg4.jpg") no-repeat;
// 	background-size: 1920px 900px;
// 	overflow:hidden;	
// }
// .content .page_five{
//     background: url("/build/img/pcAppload/bg5.jpg") no-repeat;
// 	background-size: 1920px 1093px;
// 	overflow:hidden;	
// }
// .content .page_six{
//     background: url("/build/img/pcAppload/bg6.jpg") no-repeat;
// 	background-size: 1920px 900px;
// 	overflow:hidden;	
// }
// .content .page_seven{
//     background: url("/build/img/pcAppload/bg7.jpg") no-repeat;
// 	background-size: 1920px 900px;
// 	overflow:hidden;	
// }