body {
  background: #fff;
}

.g-header {
  transform: scale(0.5);
  transform-origin: left;
  height: 50px;
  line-height: 50px;
  box-shadow: none;
}
.g-header .header-nav {
  margin-left: .3rem;
}
.g-footer .footer {
  padding: 20px 0;
}
.g-footer .footer .logo {
  transform: scale(0.75);
}

.g-footer .footer .col-logo{
  text-align: center;
}

.g-footer .footer .col-logo .logo {
  height: 51px;
  width: 180px;
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
  background: url("/build/img/logo@2x.png") 0 0 no-repeat;
  background-size: 100%;
}
.g-footer .footer .copyright {
  position: relative;
  text-align: center;
  color: #999;
  font-size: 12px;
  line-height: 1.5;
}

.g-footer .footer .copyright a{
    position: relative;
    color: #999;
    padding-left: 0.2rem;
}

.g-footer .footer .copyright a:before {
  content: '';
  position: absolute;
  background: url("/build/img/batb.png") no-repeat;
  width: 16px;
  height: 17px;
  left: 0px;
  background-size: 100%;
  top: -2px;
}

.h5_content{
  width:100%;
  display:block;
}

.h5_content .page_one{
  color: #fff;
  background: url("//17dayup-activity.bj.bcebos.com/join/h5_bg1-fs8.png") no-repeat;
  background-size: 100%;
  height: 2.5rem;
}

.h5_content .page_one .page_one_area{
  width: 2.88rem;
  margin:0 auto;
  text-align: center;
}

.h5_content .page_one .page_one_area .page_one_text1{
  padding-top: 0.6rem;
  font-size: 0.25rem;
}

.h5_content .page_one .page_one_area .page_one_text2{
  padding-top: 0.05rem;
  font-size: 0.14rem;
}

.h5_content .page_one .page_one_area .page_one_text3{
  padding-top: 0.05rem;
  font-size: 0.14rem;
}

.h5_content .page_one .page_one_area .page_one_button{
  padding-top: 0.2rem;
  overflow: hidden;
  width: 80%;
  margin:0 auto;
}

.h5_content .page_one .page_one_area .page_one_button .page_one_button1,.h5_content .page_one .page_one_area .page_one_button .page_one_button2{
  width: 1rem;
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.14rem;
  background-color: #238fff;
  border-radius: 0.03rem;
}

.h5_content .page_one .page_one_area .page_one_button .page_one_button1 a,.h5_content .page_one .page_one_area .page_one_button .page_one_button2 a{
  color: #fff;
}

.h5_content .page_one .page_one_area .page_one_button .page_one_button1{
  float: left;
}

.h5_content .page_one .page_one_area .page_one_button .page_one_button2{
 float: right;
}

.h5_content .page_two{
  color: #fff;
  background: url("//17dayup-activity.bj.bcebos.com/join/h5_bg2-fs8.png") no-repeat;
  background-size: 100%;
  height: 2.5rem;
}

.h5_content .page_three {
  width: 100%;
  height: 2.5rem;
  background: url("//17dayup-activity.bj.bcebos.com/join/h5_bg3-fs8.png") no-repeat;
  background-size: 40%;
  background-position: 100%;
}
.h5_content .page_three .page_three_area {
  width: 2.2rem;
  margin-left: 0.2rem;
 /* font-size: 0.18rem;*/
 /* margin-left: 270px;
  padding-top: 212px;
  width: 475px;
  text-align: left;*/
}

.h5_content .page_three .page_three_area .page_three_area_title{
  padding-top: 0.4rem;
  font-size: 0.18rem;
}

.h5_content .page_three .page_three_area .page_three_area_info{
  padding-top: 0.1rem;
  font-size: 0.13rem;
  line-height:1.5;
  color: #9b9b9b;
}

.h5_content .page_three .page_three_area .page_three_area_btn{
 text-align: center;
 padding-top: 0.14rem;
}

.h5_content .page_three .page_three_area .page_three_area_btn .page_three_area_btn1{
  width: 1rem;
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.14rem;
  background-color: #238fff;
  border-radius: 0.03rem;
}

.h5_content .page_three .page_three_area .page_three_area_btn .page_three_area_btn1 a{
  color: #fff;
}

.h5_content .page_four {
  width: 100%;
  height: 2.5rem;
  background: url("//17dayup-activity.bj.bcebos.com/join/h5_bg4-fs8.png") no-repeat;
  background-size: 100%;
}

.h5_content .page_four .page_four_area{
  text-align: center;
  color: #fff;
  width: 3rem;
  margin:0 auto;
}

.h5_content .page_four .page_four_area .page_four_text1{
  padding-top: 0.4rem;
  font-size: 0.18rem;
}

.h5_content .page_four .page_four_area .page_four_text2{
  padding-top: 0.1rem;
  font-size: 0.13rem;
  line-height:1.5;
}

.h5_content .page_four .page_four_area .page_four_btn{
  padding-top: 0.14rem;
  text-align: center;
}

.h5_content .page_four .page_four_area .page_four_btn .page_four_btn1{
  margin: 0 auto;
  width: 1rem;
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.14rem;
  background-color: #238fff;
  border-radius: 0.03rem;
}

.h5_content .page_four .page_four_area .page_four_btn .page_four_btn1 a{
  color: #fff;
}

.h5_content .page_five {
  width: 100%;
  height: 2.5rem;
  background: url(//17dayup-activity.bj.bcebos.com/join/h5_bg5-fs8.png) no-repeat;
  background-size: 40%;
  background-position: 90%;
}

.h5_content .page_five .page_five_area{
  margin-left: 0.2rem;
}

.h5_content .page_five .page_five_area .page_five_area_title{
  font-size: 0.18rem;
  padding-top: 0.5rem;
}

.h5_content .page_five .page_five_area .page_five_area_info{
  padding-top: 0.1rem;
  font-size: 0.13rem;
  color: #9b9b9b;
  line-height:1.5;
}

.h5_content .page_five .page_five_area .page_five_area_btn{
  padding-top: 0.14rem;
}

.h5_content .page_five .page_five_area .page_five_area_btn .page_five_area_btn1{
  text-align: center;
  width: 1rem;
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.14rem;
  background-color: #238fff;
  border-radius: 0.03rem;
}

.h5_content .page_five .page_five_area .page_five_area_btn .page_five_area_btn1 a{
  color: #fff;
}

.h5_content .page_six {
  width: 100%;
  height: 2.5rem;
  background: url("//17dayup-activity.bj.bcebos.com/join/h5_bg6-fs8.jpg") no-repeat;
  background-size: 100%;
}

.h5_content .page_six .page_six_mask{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}

.h5_content .page_six .page_six_mask .page_six_area{
  text-align: center;
  color: #fff;
  width: 80%;
  margin:0 auto;
}


.h5_content .page_six .page_six_mask .page_six_area .page_six_text1{
  padding-top: 0.4rem;
  font-size: 0.18rem;
}

.h5_content .page_six .page_six_mask .page_six_area .page_six_text2{
  padding-top: 0.1rem;
  font-size: 0.13rem;
  line-height:1.5;
}

.h5_content .page_six .page_six_mask .page_six_area .page_six_btn{
  padding-top: 0.14rem;
}

.h5_content .page_six .page_six_mask .page_six_area .page_six_btn .page_six_btn1{
  text-align: center;
  width: 1rem;
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.14rem;
  background-color: #238fff;
  border-radius: 0.03rem;
  margin:0 auto;
}

.h5_content .page_six .page_six_mask .page_six_area .page_six_btn .page_six_btn1 a{
  color: #fff;
}

.h5_content .page_seven {
  width: 100%;
  height: 2.5rem;
  background: url(//17dayup-activity.bj.bcebos.com/join/h5_bg7-fs8.png) no-repeat;
  background-size: 35%;
  background-position: 90%;
}

.h5_content .page_seven .page_seven_area{
  margin-left: 0.2rem;
}

.h5_content .page_seven .page_seven_area .page_seven_area_title{
  font-size: 0.18rem;
  padding-top: 0.55rem;
}

.h5_content .page_seven .page_seven_area .page_seven_area_info{
  padding-top: 0.1rem;
  font-size: 0.13rem;
  color: #9b9b9b;
  line-height:1.5;
}

.h5_content .page_seven .page_seven_area .page_seven_area_btn{
  padding-top: 0.14rem;
}

.h5_content .page_seven .page_seven_area .page_seven_area_btn .page_seven_area_btn1{
  text-align: center;
  width: 1rem;
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.14rem;
  background-color: #238fff;
  border-radius: 0.03rem;
}

.h5_content .page_seven .page_seven_area .page_seven_area_btn .page_seven_area_btn1 a{
  color: #fff;
}

.h5_content .page_eight {
  width: 100%;
  height: 2.5rem;
  background: url("//17dayup-activity.bj.bcebos.com/join/h5_bg8-fs8.png") no-repeat;
  background-size: cover;
}

.h5_content .page_eight .page_eight_mask{
  width: 100%;
  height: 100%;
  background: rgba(28,38,48,0.61);
}

.h5_content .page_eight .page_eight_mask .page_eight_area{
  color: #fff;
  width: 90%;
  margin:0 auto;
}

.h5_content .page_eight .page_eight_mask .page_eight_area .page_eight_title{
  padding-top: 0.3rem;
  font-size: 0.18rem;
  text-align: center;
}

.h5_content .page_eight .page_eight_mask .page_eight_area .page_eight_info{
  padding-top: 0.1rem;
  overflow: hidden;
  font-size: 0;
}

.h5_content .page_eight .page_eight_mask .page_eight_area .page_eight_info .page_eight_infoL,.h5_content .page_eight .page_eight_mask .page_eight_area .page_eight_info .page_eight_infoR{
  width: 48%;
  font-size: 0;
}

.h5_content .page_eight .page_eight_mask .page_eight_area .page_eight_info .page_eight_infoL img,.h5_content .page_eight .page_eight_mask .page_eight_area .page_eight_info .page_eight_infoR img{
  width: 100%;
}
 
.h5_content .page_eight .page_eight_mask .page_eight_area .page_eight_info .page_eight_infoL{
  float: left;
}
.h5_content .page_eight .page_eight_mask .page_eight_area .page_eight_info .page_eight_infoR{
  float: right;
}

.h5_content .page_eight .page_eight_mask .page_eight_area .page_eight_info .page_eight_infoL .page_eight_infoL_title,
.h5_content .page_eight .page_eight_mask .page_eight_area .page_eight_info .page_eight_infoR .page_eight_infoR_title{
  font-size: 0.13rem;
  text-align: center;
  padding-top: 0.1rem;
}

.h5_content .page_eight .page_eight_mask .page_eight_area .page_eight_info .page_eight_infoL .page_eight_infoL_text,
.h5_content .page_eight .page_eight_mask .page_eight_area .page_eight_info .page_eight_infoR .page_eight_infoR_text{
  font-size: 0.11rem;
  text-align: center;
  padding-top: 0.08rem;
  line-height: 1.5;
}

.h5_content .page_nine {
  width: 100%;
  height: 3.9rem;
  background: #f5f5f5;
}
.h5_content .page_nine .page_nine_area {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.h5_content .page_nine .page_nine_area .page_nine_title {
  color: #4a4a4a;
  font-size: 0.18rem;
  padding-top: 0.4rem;
}

.h5_content .page_nine .page_nine_area .page_nine_title1 {
  font-size: 0.14rem;
  color: #9b9b9b;
  padding-top: 0.1rem;
}

.h5_content .page_nine .page_nine_area .page_nine_form {
  height:1rem;
  width: 3rem;
  margin: 0 auto;
  padding-top: 0.04rem;
}

.h5_content .page_nine .page_nine_area .page_nine_form form .page_nine_row {
  height:0.4rem;
}

.h5_content .page_nine .page_nine_area .page_nine_form form .page_nine_row{
  margin-top:0.1rem;
}

.h5_content .page_nine .page_nine_area .page_nine_form form .page_nine_row .page_nine_button{
    text-align: center;
    width: 1rem;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.14rem;
    background-color: #238fff;
    border-radius: 0.03rem;
    color: #fff;
    margin:0 auto;
}

.pull-left{
  padding-left: 0.3rem;
}

form{
  height: 2rem;
}

.input_h5{
  display: inherit;
  width: 100%;
}

input{
padding-left: 0.1rem;
font-size: 0.15rem;
width:60%;
height:0.4rem;
border-radius: 4px;
outline: none;
border:none;
}

::-webkit-input-placeholder {
    font-size:0.15rem;
    line-height: 0.2rem;
    color: #dedede !important;
    font-family: "Microsoft Yahei", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}
:-moz-placeholder {
    font-size:0.15rem;
    line-height: 0.2rem;
    color: #dedede !important;
    font-family: "Microsoft Yahei", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}
::-moz-placeholder {
    font-size:0.15rem;
    line-height: 0.2rem;
    color: #dedede !important;
    font-family: "Microsoft Yahei", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}
:-ms-input-placeholder { 
    font-size:0.15rem;
    line-height: 0.2rem;
    color: #dedede !important;
    font-family: "Microsoft Yahei", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}

.alert{
  display: none;
  padding:0 0.1rem;
  top: 50%;
  margin-top: -.2rem;
  width: 80%;
  height: 0.4rem;
  line-height: 0.4rem;
  color: #fff;
  font-size: 0.14rem;
  border-radius: 0.04rem;
  background: rgba(0,0,0,0.9);
  position: fixed;
  z-index: 9999;
  left: 10%;
  text-align: center;
}
