@import "./institute.styl"
@import "../../components/course/course-lists.styl"  
.sort-head
    margin 20px
    a
        position relative
        margin-right 35px
.this-padding
    padding 20px 0px 20px 15px
