@import "./institute.styl"
.about-us-page
    color #333
    h3
        font-size 16px
        text-align center
    .institute-descri
        p
            margin 25px
            font-size 14px
            line-height 21px
            img
                width 100% !important
    .insti-history
        .all-history-foot
            padding 25px
            .history-li
                border-left 1px solid #f0f0f0
                .each-history
                    position relative
                    background #f5f5f5
                    margin 0px 0px 30px 20px
                    .time-line
                        position absolute
                        top 43%
                        left -27px
                        width 13px
                        height 13px
                        background #fff
                        border 1px solid #098bf3
                        border-radius 50%
                        z-index 9999
                    .history-date
                        color #999
                        font-size 16px
                        margin-bottom 20px
                    .history-desc
                        color #333
                        font-size 14px
                        line-height 21px
