@import "./teacher.styl"
@import "../../components/course/course-lists.styl"  
.teacher-index
    h3
        font-size 16px
    .teacher-padding
        padding 0px 20px
    .t-base-info
        p
            font-size 14px
            line-height 21px
            label 
                font-weight 500
                color #333
            span 
                color #666
    .t-best-course
        .all-course
            margin-top 21px
            font-size 14px
    .course-recommend
        padding-bottom 20px
        padding-left 15px
