@import '../../config.styl'

.registration
    &
        text-align center
        font-size $font_large
        padding-top 239px
        padding-bottom 242px
        margin 76px auto
        background #fff
    .status
        margin-bottom 34px
        font-size 30px
        font-weight bold
        img
            vertical-align middle
        span
            padding-left 25px
    .description
        a
            color $color_primary


