
.wt-media
    display block
    &:hover
        text-decoration none
    .media-title
        font-size $font_large
        font-weight bold
        margin-bottom 20px
        width 100%
        text-overflow ellipsis
        overflow hidden
        white-space nowrap
        &:hover
            color #268fff
    .media-left
        height 70px
        img
            max-width 95px
            height 60px
    .media-body
        .discription
            height 60px
            line-height 20px
            overflow hidden
            &:hover
                text-decoration underline !important
    .bottom
        margin-top 30px
        color #999
        line-height 20px
        .pull-right
            font-size 12px
