.wx-meida1
    &
        font-size $font_large
    &:hover, &:focus
        text-decoration none
        color #666 !important
    .media-left
        padding-right 24px
        img
            width 134px
            height 134px
    .media-body
        font-size 18px
        .modal-title
            margin-top 5px
            font-weight bold
        .description
            margin 24px 0
            width 39em
        ul
            color $color_gray
            margin-left -25px
            font-size 0
            li
                margin 0 25px
                font-size 18px
