.error
    width 354px
    height 624px
    padding 60px 0
    margin 0 auto
    .error_img
        width 100%
        height 384px
        img
            width 100%
    .error_btn
        margin-top 20px
        height 40px
        font-size 20px
        a
            text-align center
            display block
            color #268fff
            width 120px
            height 40px
            line-height: 40px
            border 1px solid #268fff
            border-radius 4px
        .error_l
            float left
            margin-left 20px
        .error_r
            float right
            margin-right 20px
