
@import './config.styl'
@import './components/slider/slider.styl'
@import './components/course/item.styl'
@import './components/news/news.styl'
@import './components/search/media.styl'
@import './components/topic/index_topic_item.styl'
@import './components/pagination/pagination.styl'
@import './components/help/sidebar.styl'
@import './components/refund/header.styl'
@import './components/refund/course-detail.styl'
@import './components/refund/application-form.styl'

html,body
    background #f5f5f5
    font-

