.course-detail
    .div-padding-min
        margin-bottom 10px
    .color_gray
        color $color_gray
        font-size $font_small
        margin-bottom 6px
    .titel
        width 212px
        font-size $font_small
    .order_col_img
        width 115px
        height 56px
        padding-right 0










