.refund-header
    &
        height 52px
        background-size 100%
        font-size 18px
    li
        line-height 52px
        color #fff
        width 32%
        text-align center

.refundapply
    background-image:url(/build/img/refund/header-apply.png)
.refundprocess
    background-image:url(/build/img/refund/header-process.png)
.refundresult
    background-image:url(/build/img/refund/header-result.png)










