.g-footer
    .footer    
        background #333
        color #fff
        padding 70px 0 58px
        .main-container
            width 976px
            margin o auto
            .col-links
                float left
            .col
                float left
                .link
                    margin-bottom 12px
            .col~.col
                margin-left 135px
            a
                color #999
            .hd
                font-size 16px
                margin 0 0 25px

            .col-logo
                float right
                text-align center
                /*img
                    padding-bottom 10px*/
                .logo
                    height 51px
                    width 100%
                    display inline-block
                    margin-bottom 10px
                    vertical-align middle
                    background url(/build/img/logo@2x.png) 0 0 no-repeat
                    background-size 100%
            .copyright
                position relative
                text-align center
                color #666
                font-size 12px
                line-height 1.8
                a
                    padding-left 20px
                    position relative
                    color #666
                a:before
                    content ''
                    position absolute
                    background url('/build/img/batb.png') no-repeat
                    width 16px
                    height 17px
                    left 0px
                    background-size 100%
                    top -2px
