.avator-modal
    position fixed
    top 0%
    left 0%
    display none
    background rgba(0, 0, 0, 0.6)
    width 100%
    height 100%
    z-index 999
    .modal-content
        position absolute
        left 50%
        top 47%
        border-radius 8px
        width 800px
        height 550px
        background-color #fff
        transform translate(-50%, -50%)
        overflow hidden
        padding 15px 30px
        .close-avator
            color #ccc
            font-size 25px
            cursor pointer
            margin-top 12px
        .modal-head
            font-size 18px
            color #333
            margin-bottom 21px
        .modal-body
            width 100%
            padding 0px 30px
            .upload-desc
                .only-limit
                    font-size 12px
                    color #999
                    margin 25px 0px 20px
            .crop-avator
                .init-avator
                    width 48%
                    img
                        display inline-block
                        width 300px
                        height 300px
                        float left
                        background #f5f5f5
                        margin-right 15px
                .creat-avator
                    width 52%
                    float left
                    padding-left 15px
                    border-left 1px solid #f5f5f5
                    .avator-rule
                        color #fe9700
                        font-size 12px
                    .avator-type
                        margin 10px 10px 10px 25px
                        .type-li
                            margin-top 16px
                            li
                                display inline-block
                                margin-right 20px
                                p
                                    font-size 12px
                                    color #999
                                    padding 0px
                                    margin 0px
                                img
                                    border 1px solid #f5f5f5
                                    border-radius 100%
                                    margin-left 40px
                                    margin-bottom 5px
                                .avator1
                                    width 120px
                                    height 120px
                                    margin-left -4px
                                .avator1p
                                    margin-left 29px
                                .avator2
                                    width 80px
                                    height 80px
                                    margin-left 30px
                                .avator2p
                                    margin-left 50px
                                .avator3
                                    width 60px
                                    height 60px
                                    margin-left 30px
                                .avator3p
                                    margin-left 37px
                                .avator4
                                    width 40px
                                    height 40px
                                    margin-left 78px
                                .avator4p
                                    margin-left 77px
