@import '../../config.styl'

.institute, .course
    .section-undefined
        &
            text-align center
            padding 60px 0

        a, span
            color $color_primary
        p
            margin-top 20px
    .section-recommend
        padding-bottom 60px
        .title
            font-weight 900
            font-size $font_large
            margin-bottom 20px
        .content
            margin-left -10px
            margin-right -10px
            font-size 0
            .col-5
                display inline-block
                width 220px
                margin 0 10px
            img
                width 220px
                height 124px!important
            .other .lecturer
                padding-right 10px