
*{
    margin:0;
    padding:0;
}
html,body {
/*big-bg*/
    width:100%;
    height:100%; 
    overflow: auto;
    -webkit-overflow-scrolling: touch;
     
}  
ul,li{
    list-style: none;   
}
a,img,button,input,textarea,div{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}      
.content{
    width:100%;
    padding-bottom:1px;
    background:#de3d49 url('../img/bg.png');
    background-size:cover; 
    box-sizing: border-box;              
}
/* 提示信息 */
.message{
    position:fixed;
    left:8.667%;
    right:8.667%;
    text-align: center;
    top:30px;
    z-index:100;
    background:rgba(235, 70, 70, 0.7);
    padding-left:10px;
    padding-right:10px;
    height:30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 4px;
    color:#fff;
}
/* 未关注 */
.no-server-number{
    position: fixed;
    box-sizing: border-box;
    color:#fff;
    width:100%;
    bottom:0;
    height:56px;
    background: rgba(0,0,0,0.8);
    z-index:10;
    padding:8px 10px;
}
.no-server-number .logo{
    float:left;  
}

.no-server-number .logo img{
    width:40px;
    float: left;
    margin-right:10px;
}
.no-server-number .logo-words{
     float:left;
}
.no-server-number .logo .name{
    font-size:16px;
    font-weight: bold;
    display: block;
}
.no-server-number .logo .addesc{
    font-size:12px;
    display: block;
}
.no-server-number .operate{
    float: right;
    height:40px;
}
.joinbtn{
    width:66px;
    height:26px;
    float: left;
    margin-top: 7px;
    margin-right:11px;
    border-radius: 4px;
    line-height:26px;
    font-size: 16px;
    text-align: center;
    background: #268fff;
    text-decoration: none;
    color:#fff
}
.close-goserver{
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 15px;
    background-image: url('../img/close-goserver.png');
    background-size:100% 100%;
}

/* 弹窗 */
.wraper{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: rgba(0,0,0,0.8);
    z-index:20;
    overflow: hidden;
    padding-left:8.667%;
    padding-right:8.667%;
}
.has-prize{
    width:100%;
    height:100%;
    margin-top:39%;
    position: relative;
}
.wechat-share{
    position: absolute;
    width: 50%;
    right:0;
    top:2%;
    display: none;
}
.wechat-share img{
    width:100%;
}
.prize-top{
    position: absolute;
    bottom:88%;
    left:0;
    right:0;
}
.has-prize .title{
    text-align: center;
    position: absolute;
    width:66.74%;
    height:30%;
    color:#fff;
    font-size: 20px;
    left:16.77%;
    top:56.8%;
    display: none;
}
.prize-desc{
    box-sizing: border-box;
    background:#fff;
    position: absolute;
    width:100%;    
    top:90px;    
    text-align:center;
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 6px;
}
.has-prize .name-desc{
    margin-top:9%;
    margin-bottom:4%;
    color:#fc2841;
    font-size: 14px;
}
/*文字头部*/
.has-prize .word-top{
    font-size: 14px;
    margin-top:8%;
    margin-bottom:8%;
    white-space: nowrap;
}
.has-prize .no-wechat .word-top{
    margin-top:16%;
    margin-bottom:16%;
}
/*登录*/
.login p{
    margin-top:20px;
    margin-bottom:16px;
    letter-spacing: 1px;
    font-size: 14px;
}
.row{
    margin-bottom: 12px;

}
.row .input{
    outline: none;
    height: 31px;
    border-radius: 4px;
    border: 1px solid #dadada;
    font-size: 16px;
    padding-left: 10px;
    box-sizing: border-box;
    width:58%;
}
.row .input-btn{
    width: 80px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    border-radius: 4px;
    color: #fff;
    background: #268fff;
    font-size: 12px;
    text-align: center;
    margin-left: 12px;
}
.row .input-btn.disabled{
    background: #ccc;
}
/* 地区筛选框 */
.place{
    margin-left:-8%;
    margin-right:-8%;
}
.place-input{
    display: inline-block;
    outline: none;
    width: 100%;
    height: 26px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom:15px;
    padding-left:9px;
    background: #fff;
    font-size: 12px;
    border:1px solid #ececec;
   
}
.select-control{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../img/select-arrow.png") no-repeat  right center;
    background-size:11px 7px;
    padding-right: 11px;
}
.select-control{
    display: inline-block;
    outline: none;
    height:26px;
    line-height:26px;
    width: 82px;
    overflow: hidden;
    background-color: #fff;
    font-size: 12px;
    border:1px solid #ececec;
    border-radius: 4px;
    padding-left:8px;
}
/* 奖品红包 */
.icon-packet{
    width: 24px;
    height:24px;
    background: url('../img/small-packet.png') no-repeat;
    background-size: 100% 100%;
    display: inline-block;
}
.prize-money .name-desc{
    height:24px;
    line-height: 24px;
}
.has-prize .prize-desc .prize-money img.prize-img{
    height:78px;
}
/* 奖品代金券 */
.has-prize .prize-desc .prize-discont img.prize-img{
    height:68px;
}
.prize-discont .btn-group .usebtn{
    background-color: #fc2841;
    float: left;
    text-decoration:none;
    
}
.prize-discont .btn-group .sharebtn{
    float: right;
}
/* 奖品手表 */
.has-prize .prize-desc .prize-watch img.prize-img{
    height:102px;
}
/*活动结束*/
.has-prize .prize-desc .activity-end img{
    width:34%;
}
.close{
    position: absolute;
    width:7.7%; 
    right:-9%; 
    bottom:96%;      
}
.has-prize .prize-desc .close img{
    width:100%;
}
.has-prize .notice{
    margin-top:5%;
    font-size: 12px;
    line-height: 17px;
    padding-bottom:4.8%;
    white-space: nowrap;
}
.has-prize .sharebtn,.has-prize .save-address,.has-prize .usebtn{
    width:40.3%;
    height:32px;
    letter-spacing: 4px;
    line-height: 32px;
    font-size: 16px;
    background: #268fff;
    margin-bottom:4.8%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 4px;
    color:#fff;
}
.has-prize .address-show{
    color:#999;
    font-size: 12px;
    margin-top:12px;
    margin-bottom: 20px;
}

.has-prize img.headpart{
   width:100%;
   z-index:10;
}
/* 投影部分 */
.head{
    width:100%;  
    position: relative;
    z-index: 1;         
}
.head .prize-tip{
    width:96%;
    margin-left:auto;
    margin-right:auto;
}
.head img{
    width:100%;
}        
.turntable_part{
    position: relative;
    font-size: 0px; 
    width:100%;
}
.turntable_part .shadow{ 
    width:100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top:50%;
    left:50%;
    z-index: 0;
}
.turntable_part img{
    width:100%;
}
/* 地盘部分 */
.turntable_static{
    position: relative;   
    font-size: 0px; 
    width:89.33%;
    margin-left:auto;
    margin-right:auto;   
    overflow: hidden;         
}
/* 点 */
.point{
    width:4.058%;
    height:4.058%;
    border-radius:50%;   
    background:#fff; 
    position:absolute;
    top:2.089%;
    left:50%;                   
}

div.point:nth-of-type(odd){
    background-color: #ffd200;
}
div.point:nth-of-type(even){
    background-color: #fff;
}
.isrotating div.point:nth-of-type(odd){
    background-color: #ffd200;
    box-shadow: 0 0 10px 2px #ffd200;
    animation:twinkling .3s infinite  ease-in-out alternate;
 }

.isrotating div.point:nth-of-type(even){
    background-color: #fff;
    animation:twinklingf .3s infinite  ease-in-out alternate;
}       
/* 奖品转 */
.rotate{   
    position: absolute;  
     top:7.9%; 
    left:7.9%;
    right:7.9%; 
    bottom:7.9%;            
    font-size: 0px;
    z-index:2; 
}
.rotate-infinite {
    animation: rotate .4s linear infinite;
}
.slow-down {
    transition: transform 2.5s ease-out;
    animation: none;
}
/* 指针 */
.pointer-bottom{
    position: absolute;
    width:35%;
    height:35%;
    bottom:50%;
    left:50%;
    margin-left:-17.5%;
    margin-bottom:-17.5%;
    border-radius:50%;
    background-color:#fb7b1e;
    z-index:2;
}
.pointer.start{
   
    animation: flexbutton .3s linear 1;
}
.pointer,.pointer-words{
    position: absolute;
    width:27.2%;
    left:50%;
    margin-left:-13.6%;
    bottom:50%;
    margin-bottom:-13.6%;  
    z-index:3;            
}
.pointer-words{
    height:27.2%;
    width:27.2%;
    text-align: center;
    color:#fff;
    font-size:12px;
    z-index: 10;
} 
.pointer-words:hover{
    cursor: pointer;
}
 .words-top{
    position: absolute;
    top: 45%;
    height:42px;
    margin-top: -21px;
    font-size:18px;  
    line-height: 21px;
    width:100%;
}
.words-top.waiting{
    animation: flexwords .5s ease-in-out infinite;
}

.pointer-words .words-top span{
    display:block;
    font-weight: bold;
}
.pointer-words .words-times{
    bottom: 6%;
    width: 100%;
    position: absolute;
} 

/*抽奖规则*/
.lottery_list{
    position: relative;
    margin-top: 8%;
    width:90%;
    margin-left: auto;
    margin-right:auto;           
    color:#fff;
}
.lottery_list img{
    position: relative;
    width: 100%;
}
.lottery_list .list{
    position:absolute;
    top:17.5%;
    left:3.5%;
    height:62%;                    
    font-size: 14px; 
    width:100%;          
}
.lottery_list .words{
    position:absolute;
    font-size: 14px; 
    height: 16px;
    line-height: 16px;
    top:50%;
    left:4%;
    right:8%;
    margin-left:26px;          
    margin-top:-8px;   
    overflow: hidden;
}
@media only screen and  (min-device-width: 320px) and (max-device-width: 350px){
    /*iPhone 5 、4 Portrait*/
    .lottery_list .words ul li{
        font-size: 12px;
    }
}
.lottery_list .words ul li{
    white-space: nowrap;
}

.list .icon-trumpet{
    position:absolute;
    top:50%;
    margin-top:-8px; 
    left:4%;
    width:16px;
    height:16px;
    background: url('../img/trumpet.png');
    background-size:cover;  
}
/* 中奖列表 */
.list-icon{
    display: inline-block;
    font-style: normal;
    position: relative;
    margin-left:5px;
    vertical-align: middle;

}
.list-icon.icon-packet{
    width:17px;
    height:22px;
    background: url('../img/icon-packet-list.png') no-repeat;
    background-size:cover;
}
.list-icon.icon-discount{
    width:33px;
    height:16px;
    background: url('../img/icon-discount-list.png') no-repeat;
    background-size:cover;
   
}
.list-icon.icon-discount .type{
    position: absolute;
    right:4px;
    color:#fff;
    line-height: 16px;
}
.list-icon.icon-watch{
    width:22px;
    height:33px;
    background: url('../img/icon-watch-list.png') no-repeat;
    background-size:cover;
}
/* 规则及个人奖品 */
.rules{
    margin:6% auto 31px;
    width:90%;            
    border-radius: 10px;
    background:#ffbc1c;
    padding:8px;
}
ul.tab{
    list-style:none;
    position:relative;
}
.rules .tab{
    width:100%;
    color:#fff; 
    background: #ccc;
    font-size:16px;
    overflow: hidden;
    position: relative;
     height:38px; 
}
.tab li{  
    position: absolute;
    width:50%;       
    background-color: #ffbc1c;             
    height:38px; 
    line-height: 38px;
    text-align: center;
    z-index: 2;

}
.tab li.rule{
    left:0;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
}
.tab li.prize{
    left:50%;
   border-top-right-radius:10px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}
.tab .back-cover{
    width:100%;
    height:50%;
    display: block;
    position:absolute;
    z-index: 1;
}
.tab .back-cover.top{
    background: #ffbc1c;
}
.tab .back-cover.bottom{
    background: #fff;
    top:50%;
    left:2px;
    right: 2px;
    width: 90%;
}
.tab li.active{
    background-color: #fff;   
    color:#ffbc1c;
}
.tab li span{
    display: inline-block;
    vertical-align: middle;
}
.tab li .icon{
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    width:16px;
    height:16px;
    background-size:16px 16px;
    margin-right:10px;
}
.tab li .icon.icon-rule{
    background-image: url('../img/icon_rule.png');
}
.tab li.active .icon.icon-rule{
    background-image: url('../img/icon_rule_active.png');
}
.tab li .icon.icon-prize{
    background-image: url('../img/icon_prize.png');
}
.tab li.active .icon.icon-prize{
    background-image: url('../img/icon_prize_active.png');
}        
.rules .tab-content{
    background: #fff;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;  
    color:#ff6935;
    font-size:14px;
    padding:14px 12px;
}
/* 礼物部分 */
.rules .tab-content .no-prize{
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    color:#ffbb1d;
    height:215px;
    overflow: hidden;
}
.rules .tab-content .no-prize img{
    display: inline-block;
    margin-top:5%;
    width:156px;
}
.rules .tab-content .prize-list{
    height: 210px;
    overflow: auto;
}
.rules .tab-content .prize-list .prize-item{
    height:45px;
    line-height: 45px;
    border-bottom:1px  dotted #ffbb1d;
    position: relative;
    font-size: 12px;
}
.rules .tab-content .prize-list span{
    display: inline-block;
}
.rules .tab-content .prize-list .date{

    color:#000;
    margin-left:4px;
    margin-right:14px;
}
.rules .tab-content .prize-list .use{
    width:65px;
    height: 20px;
    background-color: #ff6935;
    color:#fff;
    line-height: 20px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    right:0px;
    top:13px;
    font-size: 12px;
    text-decoration:none;
}

/* 规则内容部分 */
.rule{
    margin-bottom:6px;
}
.rule:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.rule-logo{
    float:left;
    width: 0;
    height: 0;
    border-left: 8px solid #ff6935;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    margin-right:3px;
}
.rule-words{
    margin-left:11px;   
    line-height: 19px;  
    font-size:13px;   
}
/* 动画 */
@keyframes twinkling{  
    0%{  
       /* background-color: #fff; */
        /*box-shadow: 0 0 10px 2px #fff;*/
        box-shadow: 0 0 2px 1px #ffd200;
    }  
    100%{  
        /*background-color: #ffd200;*/
        /*box-shadow: 0 0 10px 2px #ffd200;*/
        box-shadow: 0 0 10px 2px #ffd200;
    }  
}  

@keyframes twinklingf{ 
    0%{  
        /*background-color: #ffd200;
        box-shadow: 0 0 10px 2px #ffd200;*/
        /*background-color: #ffd200;*/
        box-shadow: 0 0 0px 0px #fff;
    }  
    100%{  
        /*background-color: #fff;
        box-shadow: 0 0 10px 2px #fff;*/
        /*background-color: #fff;*/
        box-shadow: 0 0 10px 2px #fff;
    }  
} 

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes  flexwords{
    0% {
        transform:scale(0.8,0.8);
        /* line-height: 16px; */
        
    }
    100% {
         transform:scale(1,1);
        /* line-height: 21px; */
    }
}

@keyframes  flexbutton{
    0% {
        transform:scale(0.7,0.7);
        /* line-height: 16px; */
        
    }
    100% {
        transform:scale(1,1);
        /* line-height: 21px; */
    }
}
