.tab-switch
    padding 20px 0px
    margin 0px 30px
    border-bottom 1px solid #dedede
    a
        margin-right 22px
        padding 16px
    .tab_active
        border-bottom 3px solid $color_primary
.show-tab
    display block
.hide-tab
    display none
